.auth {
  height: 400px;
  position: relative;
  background-color: rgba(252,252,252,0.85);
  opacity: 0.85;
  //padding-top: 40px;
  border-radius: 10px;
  form {
    border: none;
    width: 100%;
    height: 10%;
    padding: 0px 15px;
  }

}

.auth__title {
  width: 100%;
}

.auth__input {
  padding-left: 50px;
  position: relative;
  margin-bottom: 20px;

}
.auth__input-pic {
  display: inline-block;
  width: 50px;
  position: absolute;
  left: 0px;
  vertical-align: middle;
  padding: 13px 0px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;

  background-color:#f0efe9;
  border: none;
}
.login_input, .password__input {
  width: 100%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  vertical-align: middle;
  outline: none;
  border: none;
  background-color: $white;
  padding: 13px 0px 13px 20px;
  display: inline-block;
  color: #373e42;
  &:focus {
    outline: none;
    border: 4px solid $green_light;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;

  }
}


.text_bold {
  font-family: 'RobotoBold';
  margin-bottom: 10px;

}

.auth__menu {
  min-height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  @include centered(x);
  background-color: #08b09e;
}

.auth__capcha   {
  width: 100%;
  text-align: center;
  label {
    display: block;
  }
  vertical-align: middle;
  margin-bottom: 15px;
}



.auth__isPerson-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $green_light;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: middle;

}
.auth__checkbox {
  display: none;

  &:checked + .auth__isPerson-span {

    background-image: url(../img/icons/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

}
.robot-wrapper {
  margin-bottom: 20px;
  label {
    margin-right: 15px;
  }
}

.auth__radio-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  margin-right: 10px;
  vertical-align: middle;
}

.auth__radio {
  display: none;

  &:checked + .auth__radio-span {
    background-image: radial-gradient(ellipse farthest-corner at center, #00bfa5 30%, #FFFFFF 35%);
  }
}


/*


input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"] + label {
  //background: url(sprite.gif) 0 0 no-repeat;
  background-color: $green;
  color: $white;
  padding-left: 20px;
}
input[type="checkbox"]:checked + label {
  background-position: 0 -32px;
}
*/