.hero__bg {
  height: 600px;
}
.hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.blog_hero {
  height: 400px;
}

.hero__title {
  @include centered(y);
  text-align: center;
  width: 100%;
}

.hero__user-block {
  @include centered();
}

.hero__socials{
  position: absolute;
  top:30px;
  left: 30px;
}
.hero__hamburger{
  position: absolute;
  top: 30px;
  right: 20px;
}

.hero__text {
  font-size: 16px;
}

.hero_welcome {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hero_bg_welcome {
  height: 100%;

}