.fullscreen-menu( style="display: none;")
    ul.fullscreen-menu__list
        li.fullscreen-menu__item
            a(class="fullscreen-menu__link active" href="/works")
                .subtitle.title__small_fullscreen_menu Мои работы
        li.fullscreen-menu__item
            a(class="fullscreen-menu__link " href="/about")
                .subtitle.title__small_fullscreen_menu Обо мне
        li.fullscreen-menu__item
            a(class="fullscreen-menu__link " href="/blog")
                .subtitle.title__small_fullscreen_menu Блог
        li.fullscreen-menu__item
            a(class="fullscreen-menu__link " href="/")
                .subtitle.title__small_fullscreen_menu Авторизация

