ul(class = `socials ${socials_type}`)
    li.socials__item
        svg.socials__icon
            use(xlink:href="assets/img/icons/sprite.svg#vk")
    li.socials__item
        svg.socials__icon
            use(xlink:href="assets/img/icons/sprite.svg#github")
    li.socials__item
        svg.socials__icon
            use(xlink:href="assets/img/icons/sprite.svg#in")