.user.hero__user-block
    .user__photo
        .user__photo-avatar
            img(src="assets/img/content/user.jpg", alt="").user__photo-img
    .user__name Владимир Астахов
    .user__text Личный сайт веб разработчика