- var socials_type = "hero__socials"
.hero__bg
    img(src="assets/img/bg/portfolio.jpg", alt="").hero__bg-img
    include ../blocks/socials
.hero__hamburger
    //img(src="assets/img/icons/svg/hamburger.svg",class="hamburger__img")
    .hamburger-menu
        a(href="#").hamburger-menu__link
            span.hamburger-menu__link-center

a(href="").down-arrow
    img(src="assets/img/icons/arrow_down.svg").down-arrow__icon
.hero__title
    img(src="assets/img/decor/portfolio-header.png", alt="").section-title
    include ../blocks/user

