extends ../admin.layout.pug

block content
    include ../common/admin-header
    include ../common/admin_menu
    if tab == "works"
        include ../blocks/admin-works
    else if tab == "blog"
        include ../blocks/admin-blog
    else
        include ../blocks/admin-skills





